@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.main-menu {
  background-color: #f0efef;
}

.main-menu .bg-header {
  background-color: #000000;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.main-menu .nav-wrapper {
  padding: 7px 0;
}

.main-menu .nav-wrapper .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu .nav-wrapper .navbar .logo {
  width: 230px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .logo {
    width: 238px;
  }
}

.main-menu .nav-wrapper .navbar .logo img {
  width: 100%;
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .logo img {
    width: 170px;
  }
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .open-menu {
    display: block;
    width: 7%;
  }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .open-menu {
    display: block;
    width: 8%;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu .nav-wrapper .navbar .open-menu {
    display: none;
  }
}

.main-menu .nav-wrapper .navbar .no-search {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .no-search {
    padding: 40px 20px 0px 14px;
  }
}

@media screen and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .no-search {
    width: 50%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 10000;
    background: #fff;
    left: -100%;
    height: 100%;
    padding: 50px 40px 50px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu .nav-wrapper .navbar .no-search {
    width: unset;
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: unset;
    padding: unset;
  }
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .no-search .logo-mobile {
    width: 160px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .no-search .logo-mobile {
    display: block;
    margin-bottom: 25px;
    width: 230px;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu .nav-wrapper .navbar .no-search .logo-mobile {
    display: none;
  }
}

.main-menu .nav-wrapper .navbar .no-search .logo-mobile img {
  width: 230px;
}

.main-menu .nav-wrapper .navbar .no-search .close {
  position: absolute;
  top: 0%;
  left: 93%;
  width: 20px;
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .no-search .close {
    top: 0%;
    left: 88%;
    width: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .no-search .close {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu .nav-wrapper .navbar .no-search .close {
    display: none;
  }
}

.main-menu .nav-wrapper .navbar .no-search .close img {
  width: 100%;
}

.main-menu .nav-wrapper .navbar .nav-item.active a {
  color: #1176ec;
  border-bottom: 2px solid #1176ec;
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .nav-item {
    padding-top: 20px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .nav-item {
    padding: 25px 0;
  }
}

@media screen and (min-width: 1023px) {
  .main-menu .nav-wrapper .navbar .nav-item {
    padding: 0 10px;
  }
}

.main-menu .nav-wrapper .navbar .nav-item:hover a {
  color: #1176ec;
  border-bottom: 2px solid #1176ec;
}

.main-menu .nav-wrapper .navbar .nav-item a {
  font-size: 14px;
  line-height: 17px;
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .nav-item a {
    font-size: 17px;
  }
}

.main-menu .nav-wrapper .navbar .nav-item:hover .btn-infomation {
  color: #1176ec;
  border-bottom: 2px solid transparent;
}

.main-menu .nav-wrapper .navbar .nav-item .btn-infomation {
  font-weight: bold;
  color: #1176ec;
  background: rgba(17, 118, 236, 0.1);
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .nav-item .btn-infomation {
    font-size: 10px;
    width: 150px;
  }
}

.slider .banner-img {
  position: relative;
}

.slider .title-banner {
  position: absolute;
  top: 34%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider .title-banner h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  color: #ffffff;
}

.td-content {
  margin-top: 100px;
}

.td-content .td-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  margin-bottom: 50px;
}

.td-content .td-box-content .text-content {
  padding: 30px 40px;
}

.td-content .td-box-content .text-content .td-title {
  padding: 8px 0px;
}

.td-content .td-box-content .text-content .td-title h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.td-content .td-box-content .text-content span {
  font-size: 14px;
  line-height: 17px;
  color: #a4a4a4;
  font-style: italic;
}

.td-content .td-box-content .text-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #6e6e6e;
}

.td-content .td-box-content .text-content .btn-primary {
  width: 200px;
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  color: #1176ec;
  background: rgba(17, 118, 236, 0.1);
}

.td-content .nav-pagination {
  margin-top: 2px;
}

.td-content .nav-pagination .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.td-content .nav-pagination .pagination .page-item {
  padding: 0 5px;
  color: #000;
}

.td-content .nav-pagination .pagination .page-item .page-link {
  width: 48px;
  height: 41px;
  text-align: center;
}

.td-content .nav-pagination .pagination .page-item .page-link:hover {
  background: #1176EC;
  color: #fff;
}

.td-content .nav-pagination .pagination .page-item .active-pre {
  background: #E5E5E5;
}

.td-content .nav-pagination .pagination .avtive {
  background: #1176EC;
}

.sign-up {
  background-image: url("../images/banner_res.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  height: 761px;
}

.sign-up .form-signup .row .form-group textarea {
  height: 85px;
}

.sign-up .form-signup .row .form-group .inputfile {
  display: none;
}

.sign-up .form-signup .row .form-group .file-control {
  width: 100%;
  height: 40px;
  font-weight: 700;
  background: #e9e9e9;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1176ec;
  cursor: pointer;
}

.sign-up h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: white;
  padding: 60px 50px;
}

.sign-up .td-btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 50px;
  margin: 110px auto;
  background: #1176ec;
  text-align: center;
  border-radius: 4px;
}

.sign-up .td-btn-submit input[value="Đăng ký"] {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.foot-infor {
  background-color: rgba(17, 118, 236, 0.7);
  height: auto;
}

.foot-infor .row {
  padding-top: 80px;
}

.foot-infor .row p {
  color: #fff;
}

.foot-infor .row .clearfix img {
  width: 80%;
  height: 45px;
}

.foot-infor .row .list-unstyled {
  padding-top: 10px;
}

.foot-infor .row .list-unstyled li {
  padding-top: 10px;
}

.foot-infor .row .list-unstyled li a {
  color: #fff;
  text-decoration: none;
}

.foot-infor .row h4 {
  color: #fff;
}

.copy {
  height: 64px;
  background: #4183d1;
}

.copy .row p {
  line-height: 64px;
  color: #fff;
  font-size: 13px;
}

.copy .row .td-text-center .nav {
  line-height: 64px;
  float: right;
}

.copy .row .td-text-center .nav a {
  padding-left: 45px;
  font-size: 20px;
}

.copy .row .td-text-center .nav a i {
  color: #fff;
}
/*# sourceMappingURL=style-event.css.map */