* {
  margin: 0;
  padding: 0;
}
$break-small: 320px;
$break-mobile: 400px;
$break-tablet: 768px;
$break-medium: 991px;
$break-1024: 1024px;
$break-large: 1200px;
.main-menu {
  background: #f8f8f8;
  .bg-header {
    background-color: #000000;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  .nav-wrapper {
    padding: 7px 0;
    .navbar {
      display: flex;
      align-items: center;
      .logo {
        width: 230px;
        align-items: center;
        @media screen and (max-width: 739px) {
          width: 238px;
        }
        img {
          width: 100%;
          @media screen and (max-width: 739px) {
            width: 170px;
          }
        }
      }
      .open-menu {
        @media screen and (max-width: 739px) {
          display: block;
          width: 7%;
        }
        @media screen and (min-width: 740px) and (max-width: 1023px) {
          display: block;
          width: 8%;
        }
        @media screen and (min-width: 1024px) {
          display: none;
        }
      }
      .no-search {
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 5px;
        @media screen and (max-width: 739px) {
          padding: 40px 20px 0px 14px;
        }
        @media screen and (max-width: 1023px) {
          width: 50%;
          position: fixed;
          top: 0;
          display: block;
          z-index: 10000;
          background: #fff;
          left: -100%;
          height: 100%;
          padding: 50px 40px 50px 20px;
        }
        @media screen and (min-width: 1024px) {
          width: unset;
          position: unset;
          display: flex;
          background: unset;
          padding: unset;
        }
        .logo-mobile {
          @media screen and (max-width: 739px) {
            width: 160px;
          }
          @media screen and (min-width: 740px) and (max-width: 1023px) {
            display: block;
            margin-bottom: 25px;
            width: 230px;
          }
          @media screen and (min-width: 1024px) {
            display: none;
          }
          img {
            width: 230px;
          }
        }
        .close {
          position: absolute;
          top: 0%;
          left: 93%;
          width: 20px;
          @media screen and (max-width: 739px) {
            top: 0%;
            left: 88%;
            width: 14px;
          }
          @media screen and (max-width: 1023px) {
            display: block;
          }
          @media screen and (min-width: 1024px) {
            display: none;
          }
          img {
            width: 100%;
          }
        }
      }
      .nav-item.active a {
        color: #1176ec;
        border-bottom: 2px solid #1176ec;
      }
      .nav-item {
        @media screen and (max-width: 739px) {
          padding-top: 20px;
        }
        @media screen and (min-width: 740px) and (max-width: 1023px) {
          padding: 25px 0;
        }
        @media screen and (min-width: 1023px) {
          padding: 0 10px;
        }
        &:hover a {
          color: #1176ec;
          border-bottom: 2px solid #1176ec;
        }
        a {
          font-size: 14px;
          line-height: 17px;
          color: black;
          text-decoration: none;
          @media screen and (min-width: 740px) and (max-width: 1023px) {
            font-size: 17px;
          }
        }
        &:hover .btn-infomation {
          color: #1176ec;
          border-bottom: 2px solid transparent;
        }
        .btn-infomation {
          font-weight: bold;
          color: #1176ec;
          background: rgba(17, 118, 236, 0.1);
          @media screen and (max-width: 739px) {
            font-size: 10px;
            width: 150px;
          }
        }
      }
    }
  }
}

.slider {
  position: relative;
  background: #f8f8f8;
  .banner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }
  .overview {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 3;
    top: 50%;
    left: 50%;
    @media screen and (max-width: 739px) {
      width: 290px;
    }
    @media screen and (min-width: 740px) and (max-width: 1023px) {
      width: 600px;
    }
    h1 {
      font-weight: 700;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 60px;
      text-align: center;
      margin-bottom: 90px;
      @media screen and (max-width: 739px) {
        font-size: 19px;
        margin-bottom: 30px;
      }
      @media screen and (min-width: 740px) and (max-width: 1023px) {
        font-size: 37px;
        margin-bottom: 50px;
      }
    }
    a {
      // @media screen and (max-width: 767px) {
      //   font-size: 8px;
      // }
    }
    .nd-btn-vacancies {
      color: white;
      background-color: #1176ec;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      font-weight: bold;
      margin: auto;
      align-items: center;
      width: 240px;
      height: 60px;
      @media screen and (max-width: 739px) {
        width: 140px;
        height: 20px;
        font-size: 10px;
      }
      // a {
      //   @media screen and (max-width: 768px) {
      //     font-size: 15px;
      //   }
      //}
      @media screen and (min-width: 740px) and (max-width: 1023px) {
        width: 230px;
        height: 40px;
      }
    }
  }
}
.position-apply {
  background: #f8f8f8;
  padding: 80px 0;
  @media screen and (min-width: 740px) and (max-width: 1023px) {
  }
  .row-heading {
    margin-bottom: 45px;
  }
  .box-position {
    position: relative;
    button.owl-prev {
      position: absolute;
      top: 30%;
      left: -47px;
    }
    button.owl-next {
      position: absolute;
      top: 30%;
      right: -47px;
    }
    @media screen and (max-width: 739px) {
      display: none;
    }
  }
  .nd-col-title {
    width: 969px;
    height: 47px;
    h2 {
      font-size: 40px;
      @media screen and (min-width: 740px) and (max-width: 1023px) {
        font-size: 35px;
      }
    }
  }
  .item {
    background: white;
    padding: 25px;
    h4 {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    .money-date {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
      .money {
        display: flex;
        align-items: center;
      }
      .date {
        display: flex;
        align-items: center;
      }
    }
    .text-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    .btn-detail {
      background: rgba(17, 118, 236, 0.1);
      padding: 12px 40px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #1176ec;
      margin-top: 30px;
    }
  }
  .nd-col-view-all {
    width: 200px;
    height: 44px;
    @media screen and (min-width: $break-small) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    @media screen and (min-width: $break-medium) {
    }
    .nd-btn-all {
      font-size: 14px;
      line-height: 17px;
      color: #1176ec;
      border: 2px solid #1176ec;
      box-sizing: border-box;

      @media screen and (min-width: $break-small) {
        padding: 8px;
      }
      @media screen and (min-width: $break-medium) {
        padding: 12px 70px;
      }
    }
  }
}
.nd-why-work {
  h2 {
    padding-bottom: 70px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    @media screen and (min-width: 740px) and (max-width: 1023px) {
      padding-bottom: 50px;
      font-size: 33px;
    }
  }
  .row {
    .description {
      margin-top: 32px;
    }
  }
}
.process {
  h2 {
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
  }
  .td-process {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    .img-process {
      width: 122px;
      height: 122px;
      border-radius: 50%;
      background: rgba(17, 118, 236, 0.1);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
    .td-box-process {
      h5 {
        margin-top: 20px;
      }
      @media screen and (min-width: 740px) and (max-width: 1023px) {
        width: 50%;
        display: block;
        padding-bottom: 20px;
      }
    }
  }
}
.sign-up {
  background-image: url("../images/banner_res.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  height: 761px;
  .form-signup {
    .row {
      .form-group {
        textarea {
          height: 85px;
        }
        .inputfile {
          display: none;
        }
        .file-control {
          width: 100%;
          height: 40px;
          font-weight: 700;
          background: #e9e9e9;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          color: #1176ec;
          cursor: pointer;
        }
      }
    }
  }
  h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: white;
    padding: 60px 50px;
  }
  .td-btn-submit {
    display: flex;
    justify-content: center;
    width: 370px;
    height: 50px;
    margin: 110px auto;
    background: #1176ec;
    text-align: center;
    border-radius: 4px;
    input[value="Đăng ký"] {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
.foot-infor {
  background-color: rgba(17, 118, 236, 0.7);
  height: auto;
  .row {
    padding-top: 80px;
    p {
      color: #fff;
    }
    .clearfix {
      img {
        width: 80%;
        height: 45px;
      }
    }
    .list-unstyled {
      padding-top: 10px;
      li {
        padding-top: 10px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    h4 {
      color: #fff;
    }
  }
}
.copy {
  height: 64px;
  background: #4183d1;
  .row {
    p {
      line-height: 64px;
      color: #fff;
      font-size: 13px;
    }
    .td-text-center {
      .nav {
        line-height: 64px;
        float: right;
        a {
          padding-left: 45px;
          font-size: 20px;
          i {
            color: #fff;
          }
        }
      }
    }
  }
}
