* {
  margin: 0;
  padding: 0;
}

.main-menu {
  background-color: #f0efef;
  .bg-header {
    background-color: #000000;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  .nav-wrapper {
    padding: 7px 0;
    .navbar {
      display: flex;
      align-items: center;
      .logo {
        width: 230px;
        align-items: center;
        @media screen and (max-width: 739px) {
          width: 238px;
        }
        img {
          width: 100%;
          @media screen and (max-width: 739px) {
            width: 170px;
          }
        }
      }
      .open-menu {
        @media screen and (max-width: 739px) {
          display: block;
          width: 7%;
        }
        @media screen and (min-width: 740px) and (max-width: 1023px) {
          display: block;
          width: 8%;
        }
        @media screen and (min-width: 1024px) {
          display: none;
        }
      }
      .no-search {
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 5px;
        @media screen and (max-width: 739px) {
          padding: 40px 20px 0px 14px;
        }
        @media screen and (max-width: 1023px) {
          width: 50%;
          position: fixed;
          top: 0;
          display: block;
          z-index: 10000;
          background: #fff;
          left: -100%;
          height: 100%;
          padding: 50px 40px 50px 20px;
        }
        @media screen and (min-width: 1024px) {
          width: unset;
          position: unset;
          display: flex;
          background: unset;
          padding: unset;
        }
        .logo-mobile {
          @media screen and (max-width: 739px) {
            width: 160px;
          }
          @media screen and (min-width: 740px) and (max-width: 1023px) {
            display: block;
            margin-bottom: 25px;
            width: 230px;
          }
          @media screen and (min-width: 1024px) {
            display: none;
          }
          img {
            width: 230px;
          }
        }
        .close {
          position: absolute;
          top: 0%;
          left: 93%;
          width: 20px;
          @media screen and (max-width: 739px) {
            top: 0%;
            left: 88%;
            width: 14px;
          }
          @media screen and (max-width: 1023px) {
            display: block;
          }
          @media screen and (min-width: 1024px) {
            display: none;
          }
          img {
            width: 100%;
          }
        }
      }
      .nav-item.active a {
        color: #1176ec;
        border-bottom: 2px solid #1176ec;
      }
      .nav-item {
        @media screen and (max-width: 739px) {
          padding-top: 20px;
        }
        @media screen and (min-width: 740px) and (max-width: 1023px) {
          padding: 25px 0;
        }
        @media screen and (min-width: 1023px) {
          padding: 0 10px;
        }
        &:hover a {
          color: #1176ec;
          border-bottom: 2px solid #1176ec;
        }
        a {
          font-size: 14px;
          line-height: 17px;
          color: black;
          text-decoration: none;
          @media screen and (min-width: 740px) and (max-width: 1023px) {
            font-size: 17px;
          }
        }
        &:hover .btn-infomation {
          color: #1176ec;
          border-bottom: 2px solid transparent;
        }
        .btn-infomation {
          font-weight: bold;
          color: #1176ec;
          background: rgba(17, 118, 236, 0.1);
          @media screen and (max-width: 739px) {
            font-size: 10px;
            width: 150px;
          }
        }
      }
    }
  }
}
.slider {
  .banner-img {
    position: relative;
  }
  .title-banner {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-weight: bold;
      font-size: 56px;
      line-height: 68px;
      text-align: center;
      color: #ffffff;
    }
  }
}
.td-content {
  margin-top: 100px;
  .td-box-content {
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 50px;
    .text-content {
      padding: 30px 40px;
      .td-title {
        h4 {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          color: #000000;
        }
        padding: 8px 0px;
      }
      span {
        font-size: 14px;
        line-height: 17px;
        color: #a4a4a4;
        font-style: italic;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #6e6e6e;
      }
      .btn-primary {
        width: 200px;
        height: 44px;
        font-weight: 600;
        font-size: 14px;
        line-height: 29px;
        text-align: center;
        color: #1176ec;
        background: rgba(17, 118, 236, 0.1);
      }
    }
  }
  .nav-pagination {
    margin-top: 2px;
    .pagination {
      justify-content: center;
      .page-item {
        padding: 0 5px;
        color: #000;
        .page-link {
          width: 48px;
          height: 41px;
          text-align: center;
          &:hover {
            background:  #1176EC;
            color: #fff
          }
        }
        .active-pre{
          background: #E5E5E5;
        }
      }
      .avtive{
        background:  #1176EC;
      }
    }
  }
}
.sign-up {
  background-image: url("../images/banner_res.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  height: 761px;
  .form-signup {
    .row {
      .form-group {
        textarea {
          height: 85px;
        }
        .inputfile {
          display: none;
        }
        .file-control {
          width: 100%;
          height: 40px;
          font-weight: 700;
          background: #e9e9e9;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          color: #1176ec;
          cursor: pointer;
        }
      }
    }
  }
  h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: white;
    padding: 60px 50px;
  }
  .td-btn-submit {
    display: flex;
    justify-content: center;
    width: 370px;
    height: 50px;
    margin: 110px auto;
    background: #1176ec;
    text-align: center;
    border-radius: 4px;
    input[value="Đăng ký"] {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
.foot-infor {
  background-color: rgba(17, 118, 236, 0.7);
  height: auto;
  .row {
    padding-top: 80px;
    p {
      color: #fff;
    }
    .clearfix {
      img {
        width: 80%;
        height: 45px;
      }
    }
    .list-unstyled {
      padding-top: 10px;
      li {
        padding-top: 10px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    h4 {
      color: #fff;
    }
  }
}
.copy {
  height: 64px;
  background: #4183d1;
  .row {
    p {
      line-height: 64px;
      color: #fff;
      font-size: 13px;
    }
    .td-text-center {
      .nav {
        line-height: 64px;
        float: right;
        a {
          padding-left: 45px;
          font-size: 20px;
          i {
            color: #fff;
          }
        }
      }
    }
  }
}
