@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.main-menu {
  background: #f8f8f8;
}

.main-menu .bg-header {
  background-color: #000000;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.main-menu .nav-wrapper {
  padding: 7px 0;
}

.main-menu .nav-wrapper .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu .nav-wrapper .navbar .logo {
  width: 230px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .logo {
    width: 238px;
  }
}

.main-menu .nav-wrapper .navbar .logo img {
  width: 100%;
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .logo img {
    width: 170px;
  }
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .open-menu {
    display: block;
    width: 7%;
  }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .open-menu {
    display: block;
    width: 8%;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu .nav-wrapper .navbar .open-menu {
    display: none;
  }
}

.main-menu .nav-wrapper .navbar .no-search {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .no-search {
    padding: 40px 20px 0px 14px;
  }
}

@media screen and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .no-search {
    width: 50%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 10000;
    background: #fff;
    left: -100%;
    height: 100%;
    padding: 50px 40px 50px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu .nav-wrapper .navbar .no-search {
    width: unset;
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: unset;
    padding: unset;
  }
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .no-search .logo-mobile {
    width: 160px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .no-search .logo-mobile {
    display: block;
    margin-bottom: 25px;
    width: 230px;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu .nav-wrapper .navbar .no-search .logo-mobile {
    display: none;
  }
}

.main-menu .nav-wrapper .navbar .no-search .logo-mobile img {
  width: 230px;
}

.main-menu .nav-wrapper .navbar .no-search .close {
  position: absolute;
  top: 0%;
  left: 93%;
  width: 20px;
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .no-search .close {
    top: 0%;
    left: 88%;
    width: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .no-search .close {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu .nav-wrapper .navbar .no-search .close {
    display: none;
  }
}

.main-menu .nav-wrapper .navbar .no-search .close img {
  width: 100%;
}

.main-menu .nav-wrapper .navbar .nav-item.active a {
  color: #1176ec;
  border-bottom: 2px solid #1176ec;
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .nav-item {
    padding-top: 20px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .nav-item {
    padding: 25px 0;
  }
}

@media screen and (min-width: 1023px) {
  .main-menu .nav-wrapper .navbar .nav-item {
    padding: 0 10px;
  }
}

.main-menu .nav-wrapper .navbar .nav-item:hover a {
  color: #1176ec;
  border-bottom: 2px solid #1176ec;
}

.main-menu .nav-wrapper .navbar .nav-item a {
  font-size: 14px;
  line-height: 17px;
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .main-menu .nav-wrapper .navbar .nav-item a {
    font-size: 17px;
  }
}

.main-menu .nav-wrapper .navbar .nav-item:hover .btn-infomation {
  color: #1176ec;
  border-bottom: 2px solid transparent;
}

.main-menu .nav-wrapper .navbar .nav-item .btn-infomation {
  font-weight: bold;
  color: #1176ec;
  background: rgba(17, 118, 236, 0.1);
}

@media screen and (max-width: 739px) {
  .main-menu .nav-wrapper .navbar .nav-item .btn-infomation {
    font-size: 10px;
    width: 150px;
  }
}

.slider {
  position: relative;
  background: #f8f8f8;
}

.slider .banner-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
}

.slider .overview {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 739px) {
  .slider .overview {
    width: 290px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .slider .overview {
    width: 600px;
  }
}

.slider .overview h1 {
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  margin-bottom: 90px;
}

@media screen and (max-width: 739px) {
  .slider .overview h1 {
    font-size: 19px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .slider .overview h1 {
    font-size: 37px;
    margin-bottom: 50px;
  }
}

.slider .overview .nd-btn-vacancies {
  color: white;
  background-color: #1176ec;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 60px;
}

@media screen and (max-width: 739px) {
  .slider .overview .nd-btn-vacancies {
    width: 140px;
    height: 20px;
    font-size: 10px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .slider .overview .nd-btn-vacancies {
    width: 230px;
    height: 40px;
  }
}

.position-apply {
  background: #f8f8f8;
  padding: 80px 0;
}

.position-apply .row-heading {
  margin-bottom: 45px;
}

.position-apply .box-position {
  position: relative;
}

.position-apply .box-position button.owl-prev {
  position: absolute;
  top: 30%;
  left: -47px;
}

.position-apply .box-position button.owl-next {
  position: absolute;
  top: 30%;
  right: -47px;
}

@media screen and (max-width: 739px) {
  .position-apply .box-position {
    display: none;
  }
}

.position-apply .nd-col-title {
  width: 969px;
  height: 47px;
}

.position-apply .nd-col-title h2 {
  font-size: 40px;
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .position-apply .nd-col-title h2 {
    font-size: 35px;
  }
}

.position-apply .item {
  background: white;
  padding: 25px;
}

.position-apply .item h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.position-apply .item .money-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.position-apply .item .money-date span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.position-apply .item .money-date .money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.position-apply .item .money-date .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.position-apply .item .text-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.position-apply .item .btn-detail {
  background: rgba(17, 118, 236, 0.1);
  padding: 12px 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #1176ec;
  margin-top: 30px;
}

.position-apply .nd-col-view-all {
  width: 200px;
  height: 44px;
}

@media screen and (min-width: 320px) {
  .position-apply .nd-col-view-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.position-apply .nd-col-view-all .nd-btn-all {
  font-size: 14px;
  line-height: 17px;
  color: #1176ec;
  border: 2px solid #1176ec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  .position-apply .nd-col-view-all .nd-btn-all {
    padding: 8px;
  }
}

@media screen and (min-width: 991px) {
  .position-apply .nd-col-view-all .nd-btn-all {
    padding: 12px 70px;
  }
}

.nd-why-work h2 {
  padding-bottom: 70px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .nd-why-work h2 {
    padding-bottom: 50px;
    font-size: 33px;
  }
}

.nd-why-work .row .description {
  margin-top: 32px;
}

.process h2 {
  margin-top: 70px;
  text-align: center;
  font-size: 40px;
}

.process .td-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  text-align: center;
}

.process .td-process .img-process {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: rgba(17, 118, 236, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.process .td-process .td-box-process h5 {
  margin-top: 20px;
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  .process .td-process .td-box-process {
    width: 50%;
    display: block;
    padding-bottom: 20px;
  }
}

.sign-up {
  background-image: url("../images/banner_res.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  height: 761px;
}

.sign-up .form-signup .row .form-group textarea {
  height: 85px;
}

.sign-up .form-signup .row .form-group .inputfile {
  display: none;
}

.sign-up .form-signup .row .form-group .file-control {
  width: 100%;
  height: 40px;
  font-weight: 700;
  background: #e9e9e9;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1176ec;
  cursor: pointer;
}

.sign-up h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: white;
  padding: 60px 50px;
}

.sign-up .td-btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 50px;
  margin: 110px auto;
  background: #1176ec;
  text-align: center;
  border-radius: 4px;
}

.sign-up .td-btn-submit input[value="Đăng ký"] {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.foot-infor {
  background-color: rgba(17, 118, 236, 0.7);
  height: auto;
}

.foot-infor .row {
  padding-top: 80px;
}

.foot-infor .row p {
  color: #fff;
}

.foot-infor .row .clearfix img {
  width: 80%;
  height: 45px;
}

.foot-infor .row .list-unstyled {
  padding-top: 10px;
}

.foot-infor .row .list-unstyled li {
  padding-top: 10px;
}

.foot-infor .row .list-unstyled li a {
  color: #fff;
  text-decoration: none;
}

.foot-infor .row h4 {
  color: #fff;
}

.copy {
  height: 64px;
  background: #4183d1;
}

.copy .row p {
  line-height: 64px;
  color: #fff;
  font-size: 13px;
}

.copy .row .td-text-center .nav {
  line-height: 64px;
  float: right;
}

.copy .row .td-text-center .nav a {
  padding-left: 45px;
  font-size: 20px;
}

.copy .row .td-text-center .nav a i {
  color: #fff;
}
/*# sourceMappingURL=style1.css.map */